mixin change-server
  .change-server-screen.screen#change-server

    //- header
    +header-of-screen("Change Server")
    //- body
    ul.container 
      li
        label.form
          span Server Ip
          textarea#server-id(name="" placeholder="Type Your Server Ip")
      li
        label.form
          span Server Ip Port
          textarea#server-id-port(name="" placeholder="Type Your Server Ip Port")
