mixin effects-and-tag-management
  .effects-and-tag-management-screen.screen#effects-and-tag-management

    //- Header
    +header-of-screen-and-add-btn("Player Effects & Tag Management")
    //- body Start From Here
    .container.body
      ul
        li 
          span Player Number 1 :
        li 
          label.form 
            span Player pb 
            textarea.player-1-pb#player-1-pb-effect(placeholder="Enter Player pb")
        li 
          label.form
            span Player Tag Name
            textarea.player-1-tag#player-1-tag(placeholder="Enter Player Tag")
        li 
          label.form
            span Player Effect Name
            textarea.player-1-effect#player-1-effect(placeholder="Enter Player Effect")
      ul
        li 
          span Player Number 2 :
        li 
          label.form 
            span Player pb 
            textarea.player-2-pb#player-2-pb-effect(placeholder="Enter Player pb")
        li 
          label.form
            span Player Tag Name
            textarea.player-2-tag#player-2-tag(placeholder="Enter Player Tag")
        li 
          label.form
            span Player Effect Name
            textarea.player-2-effect#player-2-effect(placeholder="Enter Player Effect")
      //- Player Three 
      ul
        li 
          span Player Number 3 :
        li 
          label.form 
            span Player pb 
            textarea.player-3-pb#player-3-pb-effect(placeholder="Enter Player pb")
        li 
          label.form
            span Player Tag Name
            textarea.player-3-tag#player-3-tag(placeholder="Enter Player Tag")
        li 
          label.form
            span Player Effect Name
            textarea.player-3-effect#player-3-effect(placeholder="Enter Player Effect") 