mixin import-and-export-server-settings 
  +header-of-screen("Import/Export Server Settings")
  //- Body
  ul.container 
    li 
      form
        span Upload Your Settings
        button.upload-btn Upload
        input(
          type="file",
          name="json-file",
          id="json-file",
          accept=".json",
          hidden
        )
    li
      form
        span Export Your Settings 
        button.export-btn Export