mixin import-and-export-server-settings 
  +header-of-screen("Import/Export Server Settings")
  //- Body
  ul.container 
    li 
      span Upload Your Settings
      form
        button.upload-btn Upload
        input(
          type="file",
          name="json-file",
          id="json-file",
          accept=".json",
          hidden
        )
    li
      span Export Your Settings 
      button.export-btn Export