mixin login-screen 
  .login-screen#login-screen
    .popup-window
      .popup-header 
        h5 Login
      .body  
        form(action) 
          label.password-form.d-flex.align-items-center.flex-column
            span.me-auto Enter Your Password:
            .d-flex.w-100.mt-1
              input.me-1.d-block.w-100#login-password(type="password", name="login-password" placeholder="Password")
              button.show-or-hide.circle: i.fa-solid.fa-eye
            button.login.mt-2.w-100 Login
    .overley