mixin player-management 
  //- Header
  +header-of-screen("Player Management")
  .body.container
    ul.container
      li.d-flex.justify-content-between
        span Rank
        span Name
        span Score
        span Kills
        button.circle: i(class="fa-solid fa-ellipsis-vertical")
      li.d-flex.justify-content-between
        span 1.
        span Zad
        span 2000
        span 2000
        button.circle: i(class="fa-solid fa-ellipsis-vertical")

      li.d-flex.justify-content-between
        span 2.
        span Vortex
        span 2000
        span 2000
        button.circle: i(class="fa-solid fa-ellipsis-vertical")

      li.d-flex.justify-content-between
        span 3.
        span Sara
        span 2000
        span 2000
        button.circle: i(class="fa-solid fa-ellipsis-vertical")

      li.d-flex.justify-content-between
        span 4.
        span Dest
        span 1000
        span 1000
        button.circle: i(class="fa-solid fa-ellipsis-vertical")

      li.d-flex.justify-content-between
        span 5.
        span Islam
        span 50
        span 50
        button.circle: i(class="fa-solid fa-ellipsis-vertical")
