mixin quick-tools
  //- Header
  +header-of-screen("Quick Tools")
  //- Body
  ul.container
    li
      form
        span Restart Your Server
        button.restart-btn Restart
    li
      form
        span Close Your Server
        button.close-btn Close