mixin quick-tools
  .quick-tools-screen.screen
    //- Header
    +header-of-screen("Quick Tools")
    //- Body
    ul.container
      li
        form
          span Restart Your Server
          button.restart-btn Restart
      li
        form
          span Close Your Server
          button.close-btn Close
      li
        form
          span Reset Your Settings
          button.reset-btn Reset