mixin quick-tools
  //- Header
  +header-of-screen("Quick Tools")
  //- Body
  ul.container
    li
      span Restart Your Server
      button.restart-btn Restart
    li
      span Close Your Server
      button.close-btn Close