mixin quick-tools
  //- Header
  +header-of-screen("Quick Tools")
  //- Body
  ul.container
    li
      span Restart Your Server
      form
        button.restart-btn Restart
    li
      span Close Your Server
      form
        button.close-btn Close