mixin rules-management
  .rules-management-screen.screen#rules-management
    //- Header
    +header-of-screen-and-add-btn("Rules Management")
    //- body Start From Here
    .container
      ul
        li 
          span Player Number 1 :
        li 
          label.form 
            span Player pb 
            textarea.player-1-pb#player-1-pb-rules(placeholder="Enter Player pb")
        li
          label.form
            span Rule Name
            textarea.player-1-rule-name#player-1-rule-name(placeholder="Enter Player Effect")
      ul
        li 
          span Player Number 2 :
        li 
          label.form 
            span Player pb 
            textarea.player-2-pb#player-2-pb-rules(placeholder="Enter Player pb")
        li 
          label.form
            span Rule Name
            textarea.player-2-rule-name#player-2-rule-name(placeholder="Enter Player Tag")
      //- Player Three 
      ul
        li 
          span Player Number 3 :
        li 
          label.form 
            span Player pb 
            textarea.player-3-pb#player-3-pb-rules(placeholder="Enter Player pb")
        li 
          label.form
            span Rule Name
            textarea.player-3-rule-name#player-3-rule-name(placeholder="Enter Player Effect")