mixin server-settings 
  .server-settings-screen.screen#server-settings
    //- Header
    +header-of-screen("Server Settings")
    //- body
    ul.container
      //- Sever Name
      li
        form(action="")
          label.form
            span Server Name:
            textarea#server-name(placeholder="Type Your Server Name Here", name="server-name")
      //- Host Device Name
      li
        form(action="")
          label.form
            span Host Device Name:
            textarea#host-device-name(placeholder="Type Your Host Device Name Here", name="host-device-name")
      //- Host Name
      li
        form(action="")
          label.form
            span Host Name:
            textarea#host-name(placeholder="Type Your Host Name Here", name="host-name")
      //- First Time Join Message
      li
        form(action="")
          label.form
            span First Time Join Message:
            textarea#join-msg(placeholder="Type Your Join Message Here", name="join-msg")
      //- After Warn Kick Message
      li
        form(action="")
          label.form
            span After Warn Kick Message:
            textarea#kick-msg.kick-msg(placeholder="Type Your Kick Message Here")
      //- Players Size
      li.number-chooser
        span Player Size:
        span.d-flex.justify-content-between.align-items-center
          button.circle
            i.fa-solid.fa-plus
          span.counter(data-min="2") 2
          button.circle
            i.fa-solid.fa-minus
      //- Warn Cooldown
      li.number-chooser
        span Warn Cooldown Time:
        span.d-flex.justify-content-between.align-items-center
          button.circle
            i.fa-solid.fa-plus
          span.counter(data-min="1") 30
          button.circle
            i.fa-solid.fa-minus
      //- Allow In Game Chat
      li
        form(action="")
          label.switch
            span Allow In Game Chat
            span
              input#allow-in-game-chat.toggle-checkbox(type="checkbox", name="allow-in-game-chat")
              button.toggle-switch
      //- Allow Team Chat
      li
        form(action="")
          label.switch
            span Allow Team Chat:
            span
              input#allow-team-chat.toggle-checkbox(type="checkbox", name="allow-team-chat")
              button.toggle-switch
      //- Allow Votes
      li
        form(action="")
          label.switch
            span Allow Votes:
            span
              input#allow-votes.toggle-checkbox(type="checkbox", name="allow-votes")
              button.toggle-switch
      //- Auto Team Balance
      li
        form(action="")
          label.switch
            span Auto Team Balance:
            span
              input#auto-team-balance.toggle-checkbox(type="checkbox", name="auto-team-balance")
              button.toggle-switch
      //- Character Chooser
      li
        form(action="")
          label.switch
            span Character Chooser:
            span
              input#character-chooser.toggle-checkbox(type="checkbox", name="character-chooser")
              button.toggle-switch
      //- Colorful Explosions
      li
        form(action="")
          label.switch
            span Colorful Explosion:
            span
              input#colorful-explosion.toggle-checkbox(type="checkbox", name="colorful-explosion")
              button.toggle-switch
      //- Colorful Maps
      li
        form(action="")
          label.switch
            span Colorful Maps
            span
              input#colorful-maps.toggle-checkbox(type="checkbox", name="colorful-maps")
              button.toggle-switch
      //- Contribute Data
      li
        form(action="")
          label.switch
            span Contribute Data:
            span
              input#contribute-data.toggle-checkbox(type="checkbox", name="contribute-data")
              button.toggle-switch
      //- Enable Hit Text
      li
        form(action="")
          label.switch
            span Enable Hit Text:
            span
              input#enable-hit-text.toggle-checkbox(type="checkbox", name="enable-hit-text")
              button.toggle-switch
      //- Enable Tag Animation
      li
        form(action="")
          label.switch
            span Enable Tag Animation:
            span
              input#enable-tag-animation.toggle-checkbox(type="checkbox", name="enable-tag-animation")
              button.toggle-switch
      //- Enable Top 5 Effects
      li
        form(action="")
          label.switch
            span Enable Top 5 Effects:
            span
              input#enable-top-5-effects.toggle-checkbox(type="checkbox", name="enable-top-5-effects")
              button.toggle-switch
      //- Enable Effects
      li
        form(action="")
          label.switch
            span Enable Effects:
            span
              input#enable-effects.toggle-checkbox(type="checkbox", name="enable-effects")
              button.toggle-switch
      //- Enable HP Tag
      li
        form(action="")
          label.switch
            span Enable HP Tag:
            span
              input#enable-hp-tag.toggle-checkbox(type="checkbox", name="enable-hp-tag")
              button.toggle-switch
      //- Enable Rank
      li
        form(action="")
          label.switch
            span Enable Rank:
            span
              input#enable-rank.toggle-checkbox(type="checkbox", name="enable-rank")
              button.toggle-switch
      //- Enable Stats
      li
        form(action="")
          label.switch
            span Enable Stats:
            span
              input#enable-stats.toggle-checkbox(type="checkbox", name="enable-stats")
              button.toggle-switch
      //- Anti Id Revealer Switch Toggler
      li
        form(action="")
          label.switch
            span Anti Id Revealer:
            span
              input#anti-id-revealer.toggle-checkbox(type="checkbox", name="anti-id-revealer")
              button.toggle-switch
      //- Show Kick Vote Starter Name
      li
        form(action="")
          label.switch
            span Show Kick Vote Starter Name:
            span
              input#show-kick-vote-starter-name.toggle-checkbox(type="checkbox", name="show-kick-vote-starter-name")
              button.toggle-switch
      //- Chat Commands Or Broadcast Commands
      li
        form(action="")
          label.switch
            span Chat Commands (Or Broadcast Commands):
            span
              input#chat-commands.toggle-checkbox(type="checkbox", name="chat-commands")
              button.toggle-switch
      //- Stumbled Score Screen
      li
        form(action="")
          label.switch
            span Stumbled Score Screen:
            span
              input#stumbled-score-screen.toggle-checkbox(type="checkbox", name="stumbled-score-screen")
              button.toggle-switch
      //- Enable Tags
      li
        form(action="")
          label.switch
            span Enable Tags:
            span
              input#enable-tags.toggle-checkbox(type="checkbox", name="enable-tags")
              button.toggle-switch
      //- Teams Settings
      li.popup
        button.d-flex.justify-content-between.w-100
          span Teams Settings
          i.fa-solid.fa-angle-right
        //- Popup
        .popup-window
          .popup-header
            h5 Teams:
            button.close.circle
              i.fa.fa-close
          .body.mt-2
            //- First Team
            ul
              li
                form(action="")
                  label.form
                    span First Team Name:
                    textarea#first-team-name(placeholder="Type Your First Team Name Here", name="first-team-name")
              li
                form(action="")
                  label.form
                    span First Team Color:
                    input#first-team-color(type="color", name="first-team-color")
            //- Second Team
            ul.mt-2
              li
                form(action="")
                  label.form
                    span Second Team Name:
                    textarea#second-team-name(placeholder="Type Your Second Team Name Here", name="second-team-name")
              li
                form(action="")
                  label.form
                    span Second Team Color:
                    input#second-team-color(type="color", name="second-team-color")
        .overley
      //- Score Screen Announcement
      li.popup
        button.d-flex.justify-content-between.w-100
          span Score Screen Announcement
          i.fa-solid.fa-angle-right
        .popup-window
          .popup-header
            h5 Score Screen Announcement
            button.close.circle
              i.fa.fa-close
          .body.mt-2
            ul
              //- Enable Score Screen Announcement
              li
                form(action="")
                  label.switch
                    span Enable 
                    span
                      input#enable-score-screen-announcement.toggle-checkbox(type="checkbox", name="enable-score-screen-announcement")
                      button.toggle-switch
              li
                form(action="")
                  label.form
                    span Message 1:
                    textarea#message-1(placeholder="Type Your Message 1 Here", name="message-1")
              li
                form(action="")
                  label.form
                    span Message 2:
                    textarea#message-2(placeholder="Type Your Message 2 Here", name="message-2")
              li
                form(action="")
                  label.form
                    span Message 3:
                    textarea#message-3(placeholder="Type Your Message 3 Here", name="message-3")
              li
                form(action="")
                  label.form
                    span Message 4:
                    textarea#message-4(placeholder="Type Your Message 4 Here", name="message-4")
              li
                form(action="")
                  label.form
                    span Message 5:
                    textarea#message-5(placeholder="Type Your Message 5 Here", name="message-5")
              li
                form(action="")
                  label.form
                    span Message 6:
                    textarea#message-6(placeholder="Type Your Message 6 Here", name="message-6")
              li
                form(action="")
                  label.form
                    span Message 7:
                    textarea#message-7(placeholder="Type Your Message 7 Here", name="message-7")
              li
                form(action="")
                  label.form
                    span Message 8:
                    textarea#message-8(placeholder="Type Your Message 8 Here", name="message-8")
        .overley
      //- Afk Remove
      li.popup
        button.d-flex.justify-content-between.w-100
          span Afk Remove 
          i.fa-solid.fa-angle-right
        //- Popup
        .popup-window
          .popup-header
            h5 Afk Remove
            button.close.circle
              i.fa.fa-close
          .body.mt-2
            ul
              li
                form(action="")
                  label.switch
                    span Afk Remove:
                    span
                      input#enable-afk-remove.toggle-checkbox(type="checkbox", name="enable-afk-remove")
                      button.toggle-switch
              li
                form(action="")
                  label.switch
                    span Kick Idle From Lobby:
                    span
                      input#enable-kick-from-lobby.toggle-checkbox(type="checkbox", name="enable-kick-from-lobby")
                      button.toggle-switch
              li.number-chooser
                span In Game Idle Time In Sec:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="1") 1
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span Lobby Idle Time In Sec:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="1") 1
                  button.circle
                    i.fa-solid.fa-minus
        .overley
      //- Auto Night Mode
      li.popup
        button.d-flex.justify-content-between.w-100
          span Auto Night Mode 
          i.fa-solid.fa-angle-right
        //- Popup
        .popup-window
          .popup-header
            h5 Auto Night Mode
            button.close.circle
              i.fa.fa-close
          .body.mt-2
            ul
              li
                form(action="")
                  label.form
                    span  Start Time:
                    input(type="time", name="")
              li
                form(action="")
                  label.form
                    span  End Time:
                    input(type="time", name="")
              li
                form(action="")
                  label.switch
                    span Enable Fireflies:
                    span
                      input#enable-fireflies.toggle-checkbox(type="checkbox", name="enable-fireflies")
                      button.toggle-switch
              li
                form(action="")
                  label.switch
                    span Enable Random Fireflies:
                    span
                      input#enable-random-fireflies.toggle-checkbox(type="checkbox", name="enable-random-fireflies")
                      button.toggle-switch
        .overley
      //- Server Website Settings
      li.popup
        button.d-flex.justify-content-between.w-100
          span Server Website
          i.fa-solid.fa-angle-right
        //- Popup
        .popup-window
          .popup-header
            h5 Server Website
            button.close.circle
              i.fa.fa-close
          .body.mt-2
            ul
              li
                form(action="")
                  label.switch
                    span Enable Website:
                    span
                      input#enable-srv-website.toggle-checkbox(type="checkbox", name="enable-srv-website")
                      button.toggle-switch
              li 
                form(action) 
                  label.password-form.d-flex.align-items-center
                    span.me-auto Website Password:
                    .d-flex   
                      input.me-1.d-block#website-password(type="password", name="website-password" placeholder="Type Your Server Password")
                      button.show-or-hide.circle: i.fa-solid.fa-eye
        .overley
      //- Coop Settings
      li.popup
        button.d-flex.justify-content-between.w-100
          span Coop With Less Players
          i.fa-solid.fa-angle-right
        //- Popup
        .popup-window
          .popup-header
            h5 Coop With Less Players
            button.close.circle
              i.fa.fa-close
          .body.mt-2
            ul
              li
                form(action="")
                  label.switch
                    span Enable Coop:
                    span
                      input#enable-coop.toggle-checkbox(type="checkbox", name="enable-coop")
                      button.toggle-switch
              li.number-chooser
                span Minimum Players To Exit:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
        .overley
      //- Discord Web Hooks
      li.popup
        button.d-flex.justify-content-between.w-100
          span Discord Web Hook
          i.fa-solid.fa-angle-right
        //- Popup
        .popup-window
          .popup-header
            h5 Discord Web Hook
            button.close.circle
              i.fa.fa-close
          .body.mt-2
            ul
              li
                form(action="")
                  label.switch
                    span Enable Hook:
                    span
                      input#enable-web-hook.toggle-checkbox(type="checkbox", name="enable-web-hook")
                      button.toggle-switch
              li 
                form(action) 
                  label.form.d-flex.align-items-center
                    span.me-auto Web Hook Url:
                    input.me-1.d-block#web-hook-url(type="text", name="web-hook-url" placeholder="Type Your Url" value="0")
        .overley
      //- Discord Bot
      li.popup
        button.d-flex.justify-content-between.w-100
          span Discord Bot
          i.fa-solid.fa-angle-right
        //- Popup
        .popup-window
          .popup-header
            h5 Discord Bot
            button.close.circle
              i.fa.fa-close
          .body.mt-2
            ul
              li
                form(action="")
                  label.switch
                    span Enable Bot:
                    input#enable-discord-bot.toggle-checkbox(type="checkbox", name="enable-discord-bot")
                    button.toggle-switch
              li
                form(action="")
                  label.switch
                    span Live Chat:
                    input#enable-discord-bot-live-chat.toggle-checkbox(type="checkbox", name="enable-discord-bot-live-chat")
                    button.toggle-switch
              li 
                form(action) 
                  label.form.d-flex.align-items-center
                    span.me-auto Live Stats Channel Id:
                    input.me-1.d-block#live-stats-channel-id(type="text", name="live-stats-channel-id" placeholder="Type Your Url" value="0")
              li 
                form(action) 
                  label.form.d-flex.align-items-center
                    span.me-auto Log Channel Id:
                    input.me-1.d-block#log-channel-id(type="text", name="log-channel-id" placeholder="Type Your Url" value="0")
              li 
                form(action) 
                  label.form.d-flex.align-items-center
                    span.me-auto Token:
                    input.me-1.d-block#discord-bot-token(type="text", name="discord-bot-token" placeholder="Type Your Url" value="0")
        .overley
      //- Powerups Settings
      li.popup 
        button.d-flex.justify-content-between.w-100
          span Powerups 
          i.fa-solid.fa-angle-right
        .popup-window  
          .popup-header
            h5 Powerups 
            button.close.circle
              i.fa.fa-close
          .body.mt-2
            ul.mb-3
              li
                form(action="")
                  label.switch
                    span Enable Powerups:
                    input#enable-powerups.toggle-checkbox(type="checkbox", name="enable-powerups")
                    button.toggle-switch
              li
                form(action="")
                  label.switch
                    span Powerup Name:
                    input#powerups-name.toggle-checkbox(type="checkbox", name="powerup-name")
                    button.toggle-switch
              li
                form(action="")
                  label.switch
                    span Powerup Time:
                    input#powerups-time.toggle-checkbox(type="checkbox", name="powerup-time")
                    button.toggle-switch
              li
                form(action="")
                  label.switch
                    span Powerup Shield:
                    input#powerups-shield.toggle-checkbox(type="checkbox", name="powerup-shield")
                    button.toggle-switch
              li
                form(action="")
                  label.switch
                    span Powerup Gravity:
                    input#powerups-gravity.toggle-checkbox(type="checkbox", name="powerup-gravity")
                    button.toggle-switch
              li.number-chooser
                span.me-auto Heath Damage PTG: 
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Powerup Scale:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
            ul.mb-2
              li 
                span Quantity:
              li.number-chooser
                span.me-auto Curse:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Fire Bomb:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Fly Bomb:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Goodbye:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Healing Bomb:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Health:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Ice Bomb:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Ice man:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Impact Bomb:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Impairment Bomb:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Mine Bomb:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Punch:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Shield:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Speed:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Sticky Bomb:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Tank Shield:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
              li.number-chooser
                span.me-auto Triple Bomb:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
        .overley
      //- Leader Board Settings
      li.popup
        button.d-flex.justify-content-between.w-100
          span Leader Board
          i.fa-solid.fa-angle-right
        //- Popup
        .popup-window
          .popup-header
            h5 Leader Board
            button.close.circle
              i.fa.fa-close
          .body.mt-2
            ul
              li
                form(action="")
                  label.switch
                    span Enable Leader Board:
                    span
                      input#enable-leader-board.toggle-checkbox(type="checkbox", name="enable-leader-board")
                      button.toggle-switch
              li
                form(action="")
                  label.switch
                    span Bars Behind Names:
                    span
                      input#enable-leader-board-bars.toggle-checkbox(type="checkbox", name="enable-leader-board-bars")
                      button.toggle-switch
        .overley
      //- Max Account Per Id
      li.number-chooser
        span Max Account Per Id:  
        span.d-flex.justify-content-between.align-items-center
          button.circle
            i.fa-solid.fa-plus
          span.counter(data-min="2") 2
          button.circle
            i.fa-solid.fa-minus
      //- Max Players Per Device
      li.number-chooser
        span Max Players Per Device:
        span.d-flex.justify-content-between.align-items-center
          button.circle 
            i.fa-solid.fa-plus
          span.counter(data-min="2") 5
          button.circle
            i.fa-solid.fa-minus
      //- Max Warn Count
      li.number-chooser
        span Max Warn Count:
        span.d-flex.justify-content-between.align-items-center
          button.circle
            i.fa-solid.fa-plus
          span.counter(data-min="2") 2
          button.circle
            i.fa-solid.fa-minus
      //- Enable Mikirog Quick Turn 
      li
        form(action="")
          label.switch
            span Enable MikiRog Quick Turn:
            span
              input#enable-mikirog.toggle-checkbox(type="checkbox", name="enable-mikirog")
              button.toggle-switch
      //- Min Age to Chat 
      li.number-chooser
        span Min Age To Chat In Hours:
        span.d-flex.justify-content-between.align-items-center
          button.circle
            i.fa-solid.fa-plus
          span.counter(data-min="2") 2
          button.circle
            i.fa-solid.fa-minus
      //- New Result Board
      li
        form(action="")
          label.switch
            span New Result Board:
            span
              input#new-result-board.toggle-checkbox(type="checkbox", name="new-result-board")
              button.toggle-switch
      //- Player Mods
      li.popup
        button.d-flex.justify-content-between.w-100
          span Player Mod
          i.fa-solid.fa-angle-right
        //- Popup
        .popup-window
          .popup-header
            h5 Player Mod
            button.close.circle
              i.fa.fa-close
          .body.mt-2
            ul.mb-4
              li
                form(action="")
                  label.switch
                    span Default Gloves:
                    span
                      input#enable-gloves.toggle-checkbox(type="checkbox", name="enable-gloves")
                      button.toggle-switch
              li
                form(action="")
                  label.switch
                    span Default Shield:
                    span
                      input#enable-shield.toggle-checkbox(type="checkbox", name="enable-shield")
                      button.toggle-switch
              li.number-chooser
                span.me-auto Default Bomb Count:
                span.d-flex.justify-content-between.align-items-center
                  button.circle
                    i.fa-solid.fa-plus
                  span.counter(data-min="2") 2
                  button.circle
                    i.fa-solid.fa-minus
            form
              ul 
                li
                  span Default Bomb 
                li
                  label.radio-box
                    span Normal Bomb
                    span
                      input#normal-bomb.toggle-radio(type="radio", name="enable-bomb" checked)
                      button.toggle-radio-box
                li
                  label.radio-box
                    span Ice Bomb
                    span
                      input#ice-bomb.toggle-radio(type="radio", name="ice-bomb")
                      button.toggle-radio-box
                li
                  label.radio-box
                    span Fire Bomb
                    span
                      input#fire-bomb.toggle-radio(type="radio", name="fire-bomb")
                      button.toggle-radio-box
                li
                  label.radio-box
                    span Impact Bomb
                    span
                      input#impact-bomb.toggle-radio(type="radio", name="impact-bomb")
                      button.toggle-radio-box
                li
                  label.radio-box
                    span Sticky Bomb
                    span
                      input#sticky-bomb.toggle-radio(type="radio", name="sticky-bomb")
                      button.toggle-radio-box
                li
                  label.radio-box
                    span Expansive Bomb
                    span
                      input#expansive-bomb.toggle-radio(type="radio", name="expansive-bomb")
                      button.toggle-radio-box
                li
                  label.radio-box
                    span Mine Bomb
                    span
                      input#mine-bomb.toggle-radio(type="radio", name="mine-bomb")
                      button.toggle-radio-box
        .overley
      //- After Warn Kick Message
      li
        form(action="")
          label.form
            span Warn Msg:
            textarea#warn-msg.kick-msg(placeholder="Type Your Warn Msg Here")
      //- Same Character For Team
      li
        form(action="")
          label.switch
            span Same Character For Team:
            span
              input#same-chat-for-team.toggle-checkbox(type="checkbox", name="same-chat-for-team")
              button.toggle-switch
      //- Enable White List
      li
        form(action="")
          label.switch
            span Enable White List:
            span
              input#enable-white-list.toggle-checkbox(type="checkbox", name="enable-white-list")
              button.toggle-switch
      //- Stats Reset After Days
      li.number-chooser
        span.me-auto Stats Reset After Days:
        span.d-flex.justify-content-between.align-items-center
          button.circle
            i.fa-solid.fa-plus
          span.counter(data-min="2") 2
          button.circle
            i.fa-solid.fa-minus
      //- Use V2 Account
      li
        form(action="")
          label.switch
            span Use V2 Account:
            span
              input#use-v2-account.toggle-checkbox(type="checkbox", name="use-v2-account")
              button.toggle-switch
      //- Regular Welcome Message
      li 
        form(action) 
          label.form.d-flex.align-items-center
            span.me-auto Regular Welcome Message:
            input.me-1.d-block#regular-welcome-msg(type="text", name="regular-welcome-msg" placeholder="Type Your msg" value="Hello My Friend")