mixin server-logs
  .server-logs-screen.screen#server-logs
    //- Header
    +header-of-screen("Server Logs")
    //- body
    .body
      .container
        ul
          li
            label.form
              span String To Search On Logs File
              textarea#string-search(name="" placeholder="Enter a String")
          li.popup
              span File To Search On It 
              button.select-combobox
                span logs.txt
              .popup-window
                .popup-header
                  h5 File Chooser
                  button.close.circle
                    i.fa.fa-close
                .body.mt-2
                  form
                    ul 
                      li
                        label.radio-box
                          span logs.txt
                          span
                            input#logs-file.toggle-radio.file.logs-file(type="radio", name="file"  checked)
                            div.toggle-radio-box
                      li
                        label.radio-box
                          span errors.txt
                          span
                            input#errors-file.toggle-radio.file.errors-file(type="radio", name="file" )
                            div.toggle-radio-box
              .overlay
          li 
            div.w-100 
              button.me-auto.ms-auto.mb-2.mt-2.search Search 
        .service-container 
          h4.text-center Result:
          div.results#results
            p.text-center Start Search About The Thing You Want