- 
  let navsNames = [
    {name:"Overview",class:"overview",},
    {name:"Chat", class:"chat"},
    {name:"Player Management",class:"player-management"},
    {name:"Server Settings",class:"server-settings"},
    {name:"Rules Management",class:"rules-management"},
    {name:"Quick Tools",class:"quick-tools"},
    {name:"Server Logs",class:"server-logs"},
    {name:"Player's Effects & Tags Management",class:"effects-and-tag-management"},
    {name:"Import/Export Server Settings",class:"import-and-export-settings"},
    {name:"Change Server",class:"change-server"},
    {name:"Website Settings",class:"website-settings"}
  ]
  