- 
  let navsNames = [
    {name:"Overview",class:"overview nav",},
    {name:"Chat", class:"chat nav"},
    {name:"Player Management",class:"player-management nav"},
    {name:"Server Settings",class:"server-settings nav"},
    {name:"Rules Management",class:"rules-management nav"},
    {name:"Quick Tools",class:"quick-tools nav"},
    {name:"Server Logs",class:"server-logs nav"},
    {name:"Player's Effects & Tags Management",class:"effects-and-tag-management nav"},
    {name:"Import/Export Server Settings",class:"import-and-export-settings nav"},
    {name:"Change Server",class:"change-server nav"},
    {name:"Website Settings",class:"website-settings nav"}
  ]
  