@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../helpers/functions" as *;
button,
input[type="submit"] {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: $main-text-color;
	background-color: get-item-by-index($main-colors,6);
	transition: $animation-duration;
	&:not(.circle) {
		border-radius: 50px;
	}
	&.circle {
		@include circle(40px,"true");
		justify-content: center !important;
		align-items: center !important;
	}
	&:hover {
		background-color: get-item-by-index($main-colors,7);
	}
	> {
		i,
		svg {
			font-size: 14px;
		}
	}
}
