@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
button,
input[type="submit"] {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: $main-text-color;
	background-color: #666;
	transition: $animation-duration;
	&:not(.circle) {
		border-radius: 50px;
	}
	&.circle {
		@include circle(45px,"true");
	}

	&:hover {
		background-color: #777;
	}
	> {
		i,
		svg {
			font-size: 14px;
		}
	}
}
