@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../helpers/functions" as *;
button,
input[type="submit"] {

	padding: calc(var(--main-padding-size, $main-padding-size) / 2)
		var(--main-padding-size, $main-padding-size);
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: var(--main-text-color, $main-text-color);
	background-color: var(--main-color, $main-color);
	transition: var(--main-animation-duration, $main-animation-duration);
	&:has(svg),
	&:has(i) {
		background-color: var(--color-6, get-item-by-index($main-colors, 6));
	}
	&:not(.circle) {
		border-radius: 50px;
	}
	&.circle {
		@include circle(40px, "true");
		justify-content: center;
		align-items: center;
	}
	&:hover {
		background-color: var(--main-alt-color, $main-alt-color);
		&:has(svg),
		&:has(i) {
			background-color: var(--color-8, get-item-by-index($main-colors, 8));
		}
	}
	> {
		i,
		svg {
			font-size: 14px;
		}
	}
}

.quick-tools-screen ul button,
.import-and-export-settings-screen ul button,
.popup-window .body button {
	color: white;
}
