@use "../helpers/variables" as *;
@use "../helpers/functions" as *;
textarea,
input:not(input[type="submit"]) {
	height: 40px;
	resize: none;
	border: none;
	outline: none;
	white-space: pre;
	background-color: var(--color-6,get-item-by-index($main-colors,6));
	padding: 7.5px 10px 7.5px 10px;
	border-radius: 50px;
	color: var(--main-text-color,$main-text-color);
	transition: var(--animation-duration,$animation-duration);
	&:focus,
	&:hover {
		background-color: var(--color-7,get-item-by-index($main-colors,7));
	}
	&::placeholder {
		color: var(--main-placeholder-color,$main-placeholder-color);
	}
}
