@use "../helpers/variables" as *;
@use "../helpers/functions" as *;
textarea,
input:not(input[type="submit"]) {
	height: 40px;
	resize: none;
	border: none;
	outline: none;
	white-space: pre;
	background-color: get-item-by-index($main-colors,6);
	padding: 7.5px 10px 7.5px 10px;
	border-radius: 50px;
	color: $main-text-color;
	transition: $animation-duration;
	&:focus,
	&:hover {
		background-color: get-item-by-index($main-colors,7);
	}
	&::placeholder {
		color: $main-placeholder-color;
	}
}
