@use "../helpers/variables" as *;
@use "../helpers/functions" as *;
@use "../helpers/mixins" as *;

ul {
	> li {
		span {
			text-align: left;
		}
		> div:first-child {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: var(--main-padding-size, $main-padding-size);
		}
		transition: var(--main-animation-duration, $main-animation-duration);
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color-5, get-item-by-index($main-colors, 5));
		border-radius: var(--main-border-radius-size, $main-border-radius-size);
		margin-bottom: 5px;
		&.number-chooser,
		&:has(> span) {
			padding: var(--main-padding-size, $main-padding-size);
		}
		// span {
		// 	text-align: left;
		// }
		&.number-chooser {
			flex-direction: row;
			@include mobile-screens {
				flex-direction: column;
			}
			> span:last-of-type {
				width: 200px;
				@include mobile-screens {
					width: 100%;
				}
			}
		}

		&:not(.popup) {
			&:hover {
				background-color: var(--color-6, get-item-by-index($main-colors, 6));
				cursor: pointer;
			}
		}
		> form {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&:not(form:has(label)) {
				padding: var(--main-padding-size, $main-padding-size);
			}
		}
		label.form,
		label.password-form,
		label.switch,
		label.radio-box {
			padding: var(--main-padding-size, $main-padding-size);
			width: 100%;
			display: flex;
			justify-content: space-between;
			// background-color: ;
			@include small-screens {
				align-items: center;
				> textarea {
					width: 500px;
					width: 60%;
				}
			}
			@include mobile-screens {
				&.form span:first-child {
					margin-bottom: 2.5px;
				}
				&:not(.radio-box, .switch) {
					flex-direction: column;
				}
				&.password-form div {
					width: 100%;
					input {
						width: 100%;
					}
				}
				> {
					textarea,
					input {
						width: 100%;
					}
				}
			}
		}
		// &:hover button:not(button:hover) {
		// 	background-color: var(--color-8,get-item-by-index($main-colors, 8));
		// }
		&.popup {
			li {
				cursor: pointer;
				*:not(input, textarea) {
					cursor: pointer;
				}
			}
			> div:first-child {
				display: flex;
				align-items: center;
				transition: var(--main-animation-duration, $main-animation-duration);
				height: 100%;
				cursor: pointer;
				padding: var(--main-padding-size, $main-padding-size);
				border-radius: var(--main-border-radius-size, $main-border-radius-size);
				&:hover {
					background-color: var(--color-6, get-item-by-index($main-colors, 6));
				}
			}
		}
		@include mobile-screens {
			&.number-chooser > span:first-of-type {
				margin-bottom: 10px;
			}
		}
		> button:not(.circle) {
			width: 100%;
			height: 100%;
			background-color: transparent;
			display: flex;
			justify-content: space-between;
			transition: var(--main-animation-duration, $main-animation-duration);
			padding: var(--main-padding-size, $main-padding-size);
			border-radius: var(--main-border-radius-size, $main-border-radius-size);
			&:hover {
				background-color: var(--color-6, get-item-by-index($main-colors, 6));
			}
		}
		button.select-combobox {
			width: fit-content;
			padding: 10px;
			border-radius: 20px;
		}
	}
}

.screen > ul > li:not(li:is(:has(> button), :has(form > button))) {
	@include mobile-screens {
		align-items: flex-start;
		flex-direction: column;
		label:not(.switch) {
			flex-direction: column;
		}
	}
}

.popup-window .number-chooser {
	flex-direction: column;
	@include small-screens {
		flex-direction: row;
	}
}
