@use "../helpers/variables" as *;
@use "../helpers/functions" as *;
@use "../helpers/mixins" as *;

label.radio-box {
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.toggle-radio {
		appearance: none;
		display: none;
	}
	.toggle-radio-box {
		@include circle(30px);
		padding: 0;
		display: block;
		transition: var(--main-animation-duration, $main-animation-duration);
		position: relative;
		background-color: var(--color-7, get-item-from-list($main-colors, 7));
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid var(--color-7, get-item-from-list($main-colors, 7));
		// border-radius: 50px;
		cursor: pointer;
		&::after {
			content: "";
			transition: var(--main-animation-duration, $main-animation-duration);
			@include circle(15px);
			background-color: var(--main-color, $main-color);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
		}
	}
	.toggle-radio:checked + .toggle-radio-box {
		// background-color: $main-color;
		border-color: var(--main-color, $main-color);
		&::after {
			// content: "\f00c";
			transform: translate(-50%, -50%) scale(1);
		}
	}
}
