@use "../helpers/variables" as *;
@use "../helpers/functions" as *;
.service-container {
	border-radius: $main-border-radius-size;
	background-color: get-item-by-index($main-colors, 5);
	padding: $main-padding-size;
}
