@use "variables" as * ;
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	transition-timing-function: linear;
}

body,
.screen,
.screen > .header {
	color: var(--main-text-color,$main-text-color);
	background-color: var(--main-background-color,$main-background-color);
	font-family: "Cairo", sans-serif;
}

a {
	color: var(--main-text-color,$main-text-color);
	text-decoration-line: none;
}

ul {
	padding-left: 0;
}

.disable-scrolling {
	overflow-y: hidden;
}