@use "variables" as *;
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	transition-timing-function: linear;
}

body,
.screen,
.screen > .header {
	color: var(--main-text-color, $main-text-color);
	background-color: var(--main-background-color, $main-background-color);
	transition: var(--main-animation-duration, $main-animation-duration);
	font-family: "Cairo", sans-serif;
}

body {
	transition: none;
}

a {
	color: var(--main-text-color, $main-text-color);
	text-decoration-line: none;
}

ul {
	padding-left: 0;
}

.disable-scrolling {
	overflow-y: hidden;
}
