@use "variables" as * ;
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body,
.screen {
	color: $main-text-color;
	background-color: #222222;
	font-family: "Cairo", sans-serif;
}

a {
	color: $main-text-color;
	text-decoration-line: none;
}

ul {
	padding-left: 0;
}

.disable-scrolling {
	overflow-y: hidden;
}