@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../helpers/functions" as *;

.screen {
  overflow-y: auto;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  left: 100dvw;
  top: 0;
  display: none;
  transition: left var(--main-animation-duration, $main-animation-duration);
}
