@use "../helpers/variables" as *;

ul > li {
	display: flex;
	justify-content: space-between;
	background-color: #555555;
	margin-bottom: 1px;
	padding: 12.5px 20px;
	border-radius: 0px;
	align-items: center;
	transition: $animation-duration;
	&:hover {
		background-color: #666666;
		cursor: pointer;
	}
	&:first-child {
		border-top-right-radius: $main-border-radius;
		border-top-left-radius: $main-border-radius;
	}
	&:last-child {
		border-bottom-right-radius: $main-border-radius;
		border-bottom-left-radius: $main-border-radius;
	}
}
