@use "../helpers/variables" as *;
@use "../components/custom-button" as *;

.chat-screen {
	.active-players {
		display: flex;
		justify-content: center;
		gap: 7.5px;
		flex-wrap: wrap;
		> span {
			display: block;
			background-color: var(--main-color,$main-color);
			padding: var(--main-padding-size,$main-padding-size)	;
			border-radius: 50px;
		}
	}
	.messages {
		max-height: 200px;
		overflow: auto;
	}
	.write-messages {
		> form {
			gap: 10px;
			margin-top: 10px;
			align-items: center;
		}
	}
}
