@use "../helpers/variables" as *;
@use "../components/custom-button" as *;

.chat-screen {
	.active-players {
		display: flex;
		justify-content: center;
		gap: 7.5px;
		flex-wrap: wrap;
		> span {
			display: block;
			background-color: $main-color;
			padding: 7.5px;
			border-radius: 50px;
		}
	}
	.messeges {
		max-height: 200px;
		overflow: auto;
	}
	.write-messeges {
		> form {
			gap: 10px;
			margin-top: 10px;
			align-items: center;
		}
	}
}
