.home-screen {
	button {
		width: 100%;
		height: 100%;
		background-color: transparent;
		display: flex;
		justify-content: space-between;
		padding: 15px;
		border-radius: 0 0 0 0;
	}
	ul li:first-child button {
		border-radius: 15px 15px 0 0;
	}
	ul li:last-child button {
		border-radius: 0 0 15px 15px;
	}
	ul li a {
		border-radius: 0 0 15px 15px;
	}
}
