@use "../helpers/variables" as *;

.login-screen {
	opacity: 1;
	transition: $animation-duration;
	width: 100%;
	height: 100dvh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	.popup-window {
		display: flex;
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
		button.login {
			background-color: $main-color;
		}
	}
	.overley {
		display: block;
		opacity: 1;
	}
	.wrong-password-text {
		color: red;
		opacity: 0;
		user-select: none;
		font-size: 14px;
		// transition: $animation-duration;
	}
}
