@use "../helpers/variables" as *;
@use "../helpers/functions" as *;
@use "../helpers/mixins" as *;

.player-management-screen {
	table {
		tr {
			display: flex;
			background-color: var(--color-5,get-item-by-index($main-colors, 5));
			border-radius: var(--main-padding-size,$main-border-radius-size);
			margin-bottom: 2.5px;
			transition: var(--animation-duration,$animation-duration);
			&:not(:first-child):hover {
				background-color: var(--color-6,get-item-by-index($main-colors, 6));
			}
			td,
			th {
				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: var(--animation-duration,$animation-duration);
				padding: var(--main-padding-size,$main-padding-size) 0;
				// @include mobile-screens {
				// padding: $main-padding-size / 2;
				// }
				position: relative;
				.menu {
					&.opened {
						display: block;
					}
					display: none;
					position: absolute;
					min-width: 100px;
					top: 100%;
					background: var(--color-3,get-item-by-index($main-colors, 3));
					border-radius: 15px;
					z-index: 100;
					// opacity: 0;
					transition: var(--animation-duration,$animation-duration);
					button {
						width: 100%;
						justify-content: left;
						background-color: var(--color-3,get-item-by-index($main-colors, 3));
						&:hover {
							background-color: var(--color-4,get-item-by-index($main-colors, 4));
						}
					}
					&::before {
						content: "";
						border: 13px solid var(--color-2,get-item-by-index($main-colors, 2));
						position: absolute;
						top: 0;
						left: 50%;
						transform: translate(-50%, -100%);
						border-color: transparent transparent var(--color-2,get-item-by-index($main-colors, 2));
					}
				}
			}
			& td:first-child {
				border-radius: var(--main-padding-size,$main-border-radius-size) 0 0 var(--main-padding-size,$main-border-radius-size);
			}
			& td:last-child {
				border-radius: 0 var(--main-padding-size,$main-border-radius-size) var(--main-padding-size,$main-border-radius-size) 0;
			}
		}
	}
	@for $i from 1 through 5 {
		&:has(tbody > tr > *:nth-child(#{$i}):hover)
			tbody
			> tr
			> *:nth-child(#{$i}) {
			background-color: get-item-by-index($main-colors, 6);
		}
	}
}
