* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body,
.screen {
	color: white;
	background-color: #222222;
	font-family: "Cairo", sans-serif;
}

a {
	color: white;
	text-decoration-line: none;
}
