@mixin mobile-screens {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin small-screens {
	@media (min-width: 767px) {
		@content;
	}
}
@mixin middim-screens {
	@media (min-width: 992px) {
		@content;
	}
}
@mixin large-screens {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin circle($diameter, $force: "false") {
	border-radius: 50%;
	@if $force == "false" {
		width: $diameter;
		height: $diameter;
	}@else if $force == "true"{
		min-width: $diameter;
		min-height: $diameter;
	}
	@else {
		@error "Not Valid"
	}
}
