@mixin mobile-screens {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin small-screens {
	@media (min-width: 767px) {
		@content;
	}
}
@mixin middim-screens {
	@media (min-width: 992px) {
		@content;
	}
}
@mixin large-screens {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin circle($diameter) {
	width: $diameter;
	height: $diameter;
	border-radius: 50%;
}