@use "../helpers/variables" as *;
@use "../components/custom-buttons" as *;

.screen {
	overflow-y: auto;
	position: fixed;
	width: 100dvw;
	height: 100dvh;
	left: 100dvw;
	top: 0;
	opacity: 0;
	transition: left $animation-duration;
	padding: 10px;
	> .header {
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		> .back + span {
			text-align: center;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
